:root {

	/* Polar Night */
	--nord0: #2e3440;
	--nord1: #3b4252;
	--nord2: #434c5e;
	--nord3: #4c566a;

	/* Snow Storm */
	--nord4: #d8dee9;
	--nord5: #e5e9f0;
	--nord6: #eceff4;

	/* Frost */
	--nord7: #8fbcbb;
	--nord8: #88c0d0;
	--nord9: #81a1c1;
	--nord10: #5e81ac;

	/* Aurora */
	--nord11: #bf616a;
	--nord12: #d08770;
	--nord13: #ebcb8b;
	--nord14: #a3be8c;
	--nord15: #b48ead;
	
}

@media (min-width: 800px) {
	.container{
		max-width: 700px;
	}
}

html {
	height: 100%;	
}

body {
	background: var(--nord0);
	background: radial-gradient( var(--nord1), var(--nord0) );
	color: var(--nord4);
	height: 100%;
}

.fa, .fas {
	font-size: 35px;
	vertical-align: text-top;
}

/* .row, .row > div {
	border: 1px solid;
} */

.lane {
	flex: 1;
	min-width: 1em;
	min-height: 250px;
	display: flex;
	padding: 5px;
	box-sizing: content-box;
} 

.lane::before {
	color: var(--nord3);
	content: attr(data-lane);
	font-size: 13px;
	margin: 10px auto;
	text-align: center;
}

.board-top .lane:nth-child(odd),
.board-bottom .lane:nth-child(even) {
	background: var(--nord10);
}

.board-top .lane:nth-child(even),
.board-bottom .lane:nth-child(odd) {
	background: var(--nord9);
}


.board-top .lane:nth-child(odd),
.board-top .lane:nth-child(even) {
	flex-direction: column;
}

.board-bottom .lane:nth-child(odd),
.board-bottom .lane:nth-child(even) {
	flex-direction: column-reverse;
}

div[data-lane="13"] {
	border-top-left-radius: 0.25rem;
}

div[data-lane="24"] {
	border-top-right-radius: 0.25rem;
}

div[data-lane="1"] {
	border-bottom-right-radius: 0.25rem;
}

div[data-lane="12"] {
	border-bottom-left-radius: 0.25rem;
}

div[data-lane="18"],
div[data-lane="7"] {
	border-right: 10px solid var(--nord1);
}

div[data-lane="13"],
div[data-lane="14"],
div[data-lane="15"],
div[data-lane="16"],
div[data-lane="17"],
div[data-lane="18"],
div[data-lane="19"],
div[data-lane="20"],
div[data-lane="21"],
div[data-lane="22"],
div[data-lane="23"],
div[data-lane="24"] {
	border-bottom: 10px solid var(--nord1);
}

.checker {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin: 5px auto;
}

.checker.black {
	background: var(--nord3);
	border: 1px solid var(--nord0);
}

.checker.white {
	background: var(--nord4);
	border: 1px solid var(--nord0);
}

.info {
	background: var(--nord1);
	border: 1px solid var(--nord0);
	border-radius: 3px;
	min-height: 62px;
	padding: 10px;
}

.info .checker {
	display: block;
	float: left;
	margin-left: 5px;
}